* {box-sizing:border-box;}
body {background-color: #CCC;}

.searchbox {
		justify-content: flex-end;
		padding:10px;
		width: 20%;
		height: 10%;
		min-width: 100px;
		max-height: 50px;
}

#googleMap {
	display: block;
	height: 100%;
	width: 100%;
}
